astroid==2.3.2
atomicwrites==1.3.0
attrs==19.3.0
bleach==3.1.0
bugcatcher==0.1.7
bugcatcher-ci==0.1.7
certifi==2019.9.11
chardet==3.0.4
ci-bugcatcher==0.1.0
colorama==0.4.1
crytic-compile==0.1.6
docutils==0.15.2
gitdb2==2.0.6
GitPython==3.0.4
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
more-itertools==7.2.0
packaging==19.2
pkginfo==1.5.0.1
pluggy==0.13.0
prettytable==0.7.2
py==1.8.0
Pygments==2.4.2
pylint==2.4.3
pyparsing==2.4.2
pysha3==1.0.2
pytest==5.2.2
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
setuptools==45.0.0
sampleproject==1.3.0
six==1.12.0
slither-analyzer==0.6.9
slither-priv==0.3.6
smmap2==2.0.5
tqdm==4.37.0
twine==2.0.0
urllib3==1.25.6
wcwidth==0.1.7
webencodings==0.5.1
wrapt==1.11.2
